# OS
.DS_Store
/.un~

# IDE
.idea
.vscode
workspace.code-workspace

# Repo
.git
.github
.gitignore

# Build
docker-compose.yml
.pre-commit-config.yaml
setup.cfg
Dockerfile.prod
Dockerfile.dev
.dockerignore

# Compiled
*.pyc
*.pyo
*.pyd
venv
/__pycache__

# Logs
geckodriver.log

# Tests
/tests/

# Artefacts
/textbase/config.yml
/textbase/resources/db
/textbase/resources/logs
/textbase/resources/nltk_data
/textbase/resources/source