*.pyc
/.pytest_cache
/.idea/
/venv/
/__pycache__/
.DS_Store
geckodriver.log
/textbase/config.yml
/textbase/resources/db
/textbase/resources/logs
/textbase/resources/nltk_data
/textbase/resources/source