beautifulsoup4==4.9.1
newspaper3k==0.2.8
SQLAlchemy==1.3.18
PyYAML==5.4
selenium~=3.141.0
nltk==3.5
elasticsearch~=7.8.0
elasticsearch-dsl
todoist-python~=8.1.1
Markdown
pytest
pytest-cov
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
clii
APScheduler
npyscreen
pre-commit
pylint